<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <activity
            android:name=".voice.RealtimeVoiceSetupActivity"
            android:exported="false"
            android:label="Realtime voice" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.update-files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_paths" />
        </provider>
    </application>
</manifest>
